
Project/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Project/cmake-build-debug/untitled.cbp
Project/.idea/serialmonitor_settings.xml
Project/.idea/vcs.xml
Project/cmake-build-debug/cmake_install.cmake
Project/cmake-build-debug/CMakeFiles/3.8.2/CMakeCCompiler.cmake
Project/.idea/workspace.xml
Project/cmake-build-debug/CMakeCache.txt
Project/cmake-build-debug/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_C.bin
Project/cmake-build-debug/CMakeFiles/3.8.2/CMakeCXXCompiler.cmake
Project/.idea/workspace.xml
Project/cmake-build-debug/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_CXX.bin
Project/cmake-build-debug/CMakeFiles/3.8.2/CMakeRCCompiler.cmake
Project/cmake-build-debug/CMakeFiles/3.8.2/CMakeSystem.cmake
Project/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/a.exe
Project/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/a.exe
Project/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Project/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
*.txt
*.check_cache
*.cmake
*.log
*.bin
*.cxx
*.marks
*.make
Project/cmake-build-debug/CMakeFiles/Makefile2
Project/cmake-build-debug/Makefile
*.c
Project/Inspiration/re.ino
Project/Inspiration/EMMET.ino
Project/Inspiration/2.ino
Project/.idea/workspace.xml
Project/Inspiration/yes.ino
Project/.idea/workspace.xml
*.xml
